/* Review notice */
.allex-review-notice span.dashicons {
    text-decoration: none !important;
    margin-right: 6px;
}

.allex-review-notice li {
    line-height: 17pt;
}

/* Highlighted text */
.allex-highlight {
    font-weight: bold;
}
